In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('dataset_1.csv')

In [7]:
df

   Product ID Product Category  Product Name  Sales  Ratings
0         101      Electronics            TV  950.0      4.5
1         102        Furniture         Table    NaN      4.0
2         103      Electronics  Refrigerator  900.0      4.7
3         104          Grocery         Bread   50.0      NaN
4         105      Electronics     Microwave    NaN      4.2
5         106        Furniture         Chair  150.0      4.0
6         107              NaN          Sofa  400.0      NaN

# Task 1: Impute Missing Values, filling in NA with means of numerical value and most common for categorical value

In [9]:
df['Sales'] = df['Sales'].fillna(df['Sales'].mean())
df['Ratings'] = df['Ratings'].fillna(df['Ratings'].mean())
df['Product Category'] = df['Product Category'].fillna(df['Product Category'].mode()[0]) ##finding the most common entry in 'Product Category'

imputed_products_df = df
print(imputed_products_df)

   Product ID Product Category  Product Name  Sales  Ratings
0         101      Electronics            TV  950.0     4.50
1         102        Furniture         Table  490.0     4.00
2         103      Electronics  Refrigerator  900.0     4.70
3         104          Grocery         Bread   50.0     4.28
4         105      Electronics     Microwave  490.0     4.20
5         106        Furniture         Chair  150.0     4.00
6         107      Electronics          Sofa  400.0     4.28

# Task 2: Searching through data frame for a categorical variable

In [11]:
electronics_products = imputed_products_df[imputed_products_df['Product Category'] == 'Electronics'] ##matching items in 'Product Category' to a string
print(electronics_products)

   Product ID Product Category  Product Name  Sales  Ratings
0         101      Electronics            TV  950.0     4.50
2         103      Electronics  Refrigerator  900.0     4.70
4         105      Electronics     Microwave  490.0     4.20
6         107      Electronics          Sofa  400.0     4.28

# Task 3: Searching through a column for numerical values

In [13]:
filtered_electronics = electronics_products[(electronics_products['Sales'] > 500) & (electronics_products['Sales'] < 1000)]
print(filtered_electronics)

   Product ID Product Category  Product Name  Sales  Ratings
0         101      Electronics            TV  950.0      4.5
2         103      Electronics  Refrigerator  900.0      4.7

# Task 4: Finding the highest Sales value and its product ID by using index

In [25]:
max_sales_index = imputed_products_df['Sales'].idxmax()
top_seller_id = imputed_products_df.iloc[max_sales_index,0]
top_seller_id

np.int64(101)

# Task 5 Create a copy of the imputed dataset. Then add a new binary column named High Sales. High Sales = 1 if sales > 500

In [55]:
imputed_products_df['High Sales'] = imputed_products_df['Sales'] > 500 
imputed_products_df['High Sales'] = imputed_products_df['High Sales'].astype(int) ##converting boolean variable to 1 and 0
imputed_products_with_high_sales_df = imputed_products_df
imputed_products_with_high_sales_df

   Product ID Product Category  Product Name  Sales  Ratings  High Sales
0         101      Electronics            TV  950.0     4.50           1
1         102        Furniture         Table  490.0     4.00           0
2         103      Electronics  Refrigerator  900.0     4.70           1
3         104          Grocery         Bread   50.0     4.28           0
4         105      Electronics     Microwave  490.0     4.20           0
5         106        Furniture         Chair  150.0     4.00           0
6         107      Electronics          Sofa  400.0     4.28           0