In [4]:
import pandas as pd
import numpy as np
from sklearn import tree, metrics, model_selection

In [5]:
df = pd.read_csv('/Users/lirunhe/Desktop/IS 327/Homeworks/Week_4.csv')
df.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,label
0,0,3.499778,0.462015,-1.190567,-0.368438,35.157743,-2.001221,1.222046,-43.610669,1,1.496040,2
1,0,0.394558,-1.296340,-1.508713,0.462023,-3.084170,0.747858,0.754512,-43.147046,0,-0.103293,0
2,1,0.167662,-1.415447,0.340301,-1.163125,-2.155223,-4.452743,-1.232167,-41.996841,1,-2.802779,2
3,1,1.288615,-0.091966,0.049261,-2.261617,32.502713,-2.998574,1.199547,-42.053010,1,-0.563404,2
4,1,-1.510248,-1.048314,0.784191,0.738153,-60.059202,-0.072333,0.114277,-43.068171,0,-1.734305,2

In [8]:
xval = model_selection.KFold(10, shuffle = True)
fold_predictions = []
fold_acc = []
features = ['col0','col1','col2','col3','col4','col5','col6','col7','col8','col9','col10']

In [10]:
for train_i, test_i in xval.split(df):
    train_df = df.iloc[train_i]
    test_df = df.iloc[test_i]
    train_X = train_df[features]
    train_y = train_df['label']
    test_X = test_df[features]
    test_y = test_df['label']
    model = tree.DecisionTreeClassifier(min_samples_leaf = 5)
    model.fit(train_X,train_y)
    predictions = model.predict(test_X)
    acc = metrics.cohen_kappa_score(test_y, predictions)
    fold_predictions.extend(predictions)
    fold_acc.append(acc)

acc_mean = np.mean(fold_acc)
acc_sd = np.std(fold_acc)

In [12]:
acc_mean

np.float64(0.5981155934587228)